# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
.next
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

aztec-contracts/token_bridge/target/*.bak
aztec-contracts/token_minter_proxy/target/*.bak

# profiling
bridge-script/profiling-results/
aztec-contracts/token_bridge/target

# build artifacts
packages/*/dist
.turbo

# claude code
.claude
docs

.main-snapshot
