[submodule "l1-contracts/lib/forge-std"]
	path = l1-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "l1-contracts/lib/openzeppelin-contracts"]
	path = l1-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "l1-contracts/lib/v4-core"]
	path = l1-contracts/lib/v4-core
	url = https://github.com/uniswap/v4-core
